//vars-bg
$color-athens-gray: #E2E8F0;
$color-bg-gray: #EAECEE;
$color-white-solid: #FFFFFF;
$color-border-btn: #0010241F;
$color-bank-porcelain: #F6F7F8;
$color-bg-yellow: #FFCD33;
$color-bg-shaft: #333333;
$color-brown-light: #e4d7c1;
$color-bank-sunglow2: #FFDD2D;
$color-brown-light2: #e8dcc2;
$color-bg-progress: #0010240F;
$color-bg-progress-active: #428BF9;
$color-form-error: #ff0003;

//vars-color
$color-black: #000000;
$color-black-54: #0000008A;
$color-black-60: #666666;
$color-black--700: #000000B3;
$color-black--800: #000000CC;
$color-black-shaft: #333333;
$color-blue-link: #126DF7;
$color-blue: #336FEE;
$color-blue-azure: #1455B8;
$color-blue-160: #428BF929;
$color-grey-60: #9299A299;
$color-grey-2: #9299A2;
$color-grey: #202020;
$color-bank-sunglow:#E2AA00;
$color-grey-89: #E1E3E4;
$color-bank-midnight: #244A7F0F;