@use '../fonts' as *;
@use '../normalize' as *;
@use '../vars' as *;
@use '../mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

// Брейки

$bp-xl: 1199.98px;
$bp-lg: 991.98px;
$bp-md: 767.98px;
$bp-sm: 575.98px;

html,
body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 120%;
  width: 100%;
  min-height: 100%;
  min-width: 360px;
  margin: 0 auto;
  color: $color-black--800;
  background: #F6F7F8;
  position: relative;
  outline: none;
  -webkit-text-size-adjust: none;
}

.container {
  max-width: 1178px;
  padding: 0 25px;
  margin: 0 auto;

  @include breakpoint($bp-xl) {
    max-width: 100%;
  }

  @include breakpoint($bp-sm) {
    padding: 0 15px;
  }
}

.disabled {
  pointer-events: none;
}

@import '../header';
@import './hero';
@import './loan-selection';
@import './recommendations';
@import './reviews';
@import './raiting';
@import './credit-consultant';
@import './faq';
@import '../footer';